<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Members List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Members List</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->

  <ion-list>
    <ion-item *ngFor="let member of members" [routerLink]="['./', member.id]">
      <ion-avatar slot="end">
        <ion-img [src]="member.imageUrl"></ion-img>
      </ion-avatar>
      <ion-label>{{ member.title }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
